<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="principal.component.css">
  </head>
  <body>

<div class="container">

  <div class="image-container">
    <img src="https://i.ibb.co/YyLjmHs/Portafolio.jpg" alt="Mi Foto" height="250" width="250">
  </div>
  
  <div class="text-container">
    <p>Hola, Soy Luis Diego Vega Parra, un desarrollador con experiencia en .NET, <br>
       Angular y bases de datos como MongoDB, Firebase y SQL. Me he involucrado en <br> 
       proyectos escolares donde se han utilizado estas habilidades. Busco obtener experiencia <br>para crecer y contribuir a mi conocimiento
        por la tecnología y el desarrollo de aplicaciones.</p>
  </div>
  
  <h2 class="tecnologias">Tecnologías</h2>
  <div class="image-container">
    <img src="https://i.ibb.co/VYTvzHb/IMG-1783.png" alt="Imagen 1" width="140" height="140"> <!--ANGULAR-->
    <img src="https://i.ibb.co/BgV9Swd/IMG-1786.png" alt="Imagen 2" width="120" height="120"> <!--FIREBASE-->
    <img src="https://i.ibb.co/Xzwym8H/IMG-1789.png" alt="Imagen 3" width="150" height="150"> <!--MONGO-->
    <img src="https://i.ibb.co/J2C0yWJ/IMG-1792.png" alt="Imagen 3" width="115" height="115"> <!--C#-->
  </div>

</div>
</body>
</html>